<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104443831051-6ov8ml84jof9mp4fasan64cdsc409l4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104443831051-6ov8ml84jof9mp4fasan64cdsc409l4r</string>
	<key>API_KEY</key>
	<string>AIzaSyCTV2q_oAZZrqloUq3dni41Up6z93nLTFA</string>
	<key>GCM_SENDER_ID</key>
	<string>104443831051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappStatusScreen</string>
	<key>PROJECT_ID</key>
	<string>izaan-whatsapp-status-screen</string>
	<key>STORAGE_BUCKET</key>
	<string>izaan-whatsapp-status-screen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104443831051:ios:436eb7e7f1cb3ee54ff80e</string>
</dict>
</plist>